/* 头部 start */
body {
	background-color: #fff;
}
li {
	list-style: none;
}
header {
    
	font-family: 'icomoon';
	position: relative;
	height: 1.226667rem;
	background-color: #fa3432;
}
header p {
	text-align: center;
	line-height: 1.226667rem;
	font-size: .373333rem;
	color: #fff;
}
header span{
	position: absolute;
    color: #fff;
	font-size: .666667rem;
	top: .306667rem;
	left: .426667rem;
}
header em {
	position: absolute;
	top: .306667rem;
	right: .48rem;
	font-size: .666667rem;
	color: #fff;
}
/* 头部 end */
/* 内容 content start */
.content {
	padding-top: .666667rem;
	text-align: center;
	height: 2.96rem;
	background:linear-gradient(to bottom,#ff3c01,#d80607) ;
}
.content h4 {
	font-size: .906667rem;
	color: #ffffff;
}
.content p {
	margin-top: .266667rem;
	font-size: .4rem;
	color: #ffffff;
}
.content1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 1.053333rem;
	background-color: #fff;
	border: 1px solid #f1f0f0;
}
.content1 p {
	font-size: .4rem;
	color: #777;
	border: 1px solid transparent;
}
.content1 .one {
	padding-right: 1.813333rem;
	border-right-color: #f1f0f0;
}
.content2 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 3.4rem;
	background:url("../img/detail_icon_bg.png") no-repeat;
	background-size: contain;
}
.content2 li span{
	font-size: .32rem;
	color: #ffc166;
}
.content2 li .one {
	display: flex;
	justify-content: center;
	align-items: center;
	width: .733333rem;
	height: .733333rem;
	border: 1px solid #f5f5f5;
	border-radius: 50%;
	margin-right: .173333rem;
	/* margin-left: .4rem; */

}
.content2 li .one img {
	width: 70%;
	height: 70%;
}

.content2 li {
	display: flex;
	padding-top: .4rem;
	/* align-items: center; */
}
.content2 li span {
   margin-top: .133333rem;
}

/* 内容 content end */
/* 投资 start */
.touzi {
	position: relative;
	margin: .933333rem  auto 0;
	width: 9.093333rem;
	height: .2rem;
	background: #f0f0f0;
	border-radius: .2rem;
} 
.touzi .touzi1 {
	width: 3.466667rem;
	height: .2rem;
	background-color: red;
	border-radius: .2rem;
}
.touzi .box {
	position: relative;
	position: absolute;
	top: -0.613333rem;
	left: 3.066667rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .04rem;
	width: .8rem;
	height: .426667rem;
	background-color: red;
}
.touzi .box span {
	font-size: .266667rem;
	color: #fff;
}
.touzi .box em {
	position: absolute;
	bottom: -0.2rem;
	width: 0;
	height: 0;
	border: .093333rem solid transparent;
    border-top-color: red;
}
.touzi2 {
	position: relative;
    display: flex;
    justify-content: space-between;
    margin: .333333rem .44rem 0;
}
.touzi2 h6 {
	font-weight: normal;
	font-size: .293333rem;
	color: #808080;
}
.touzi2 h6 span {
	font-size: .293333rem;
	color: red;
}
.touzi2 span {
	font-size: .293333rem;
	color: #808080;
}
.touzi2 span em {
	color: red;
}
.touzi2 .box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	right: -0.44rem;
	width: 1.066667rem;
	height: 1.066667rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .3);
}
.touzi2 .box li {
	width: .093333rem;
	height: .093333rem;
	border-radius: 50%;
	background:#fff;
}
/* 投资 end */
/* footer start */
a h4 {
	text-align: center;
	font-size: .293333rem;
	color: #808080;
	margin-top: 4.066667rem;
}
footer {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	margin-top: .453333rem;
	height: 1.466667rem;
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}
footer span {
	font-size: .426667rem;
	color: #f90;
	text-decoration: underline;
	margin: 0 .68rem 0 .48rem;
}
footer a {
	text-align: center;
	width: 6.893333rem;
	height: 1.093333rem;
	line-height: .666667rem;
	border-radius: .133333rem;
	background-color: #fa3432;
}
footer a em {
	font-size: .453333rem;
	color: #fff;
}

/* footer end */
.mask {
	display: none;
  position: absolute;
  top: 1.226667rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}
.mask .nav {
	font-family: 'icomoon';
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: .9rem;
	background-color: #fff;
}
* {
	box-sizing: border-box;
}
.mask .nav a {
	padding-top: .133333rem;
	text-align: center;
	font-size: .25rem;
	width: 50%;
	color: red;
	border-right: .013333rem solid red;
}
.mask .nav .last {
	border-right:.013333rem solid transparent;
}
.mask .nav a p {
	font-size: .16rem;
}
