 /* header start */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.253333rem;
	background-color: #fa3432;
	font-size: .4rem;
	padding: 0 .32rem 0 .24rem;
  }
  header .logo{
	  background: url("../img/logo.png") no-repeat left center;
	  padding-left: .773333rem;
	  background-size: .626667rem .653333rem;
  }
  header a{
	  color: #ffffff;
  }
  header .login{
	color: #ffffff;
  }
  header .logo h1{
	  font-size: .4rem;
  }
/* header start */
/* nav start */
.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 1.146667rem;
	background-color: #fff;
	font-size: .453333rem;
}
.nav a{
	color: #4b4a4a;
}
.nav .shouye{
	color: #ff3636;
}
.nav div:nth-child(2):active a{
	color: #ff3636;
}
.nav div:nth-child(3):active a{
	color: #ff3636;

}
/* nav end */
/* 轮播图 start	 */
.slider{
	height: 4.84rem;
	background-color: pink;
}
.slider img{
	width: 100%;
	height: 100%;
}
/* 轮播图 end */
/* 简介 start */
.jieshao{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 2.666667rem;
	background-color: #fff;
}
.jieshao img{
	width: 1.2rem;
	height: 1.2rem;
}
.jieshao p{
	font-size: .32rem;
	color: #808080;
}
/* 简介 end */
/* 热门 hot start */
.hot{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #f2f2f2;
	height: 1.266667rem;
	margin-left: .306667rem;
}
.hot .hotproduct{
	font-size: .4rem;
	color: #494848;
	background-image: url("../img/home_ico_09.png");
	background-size: .533333rem .533333rem;
	background-repeat: no-repeat;
	padding-left: .8rem;
}
.hot .more{
	position: relative;
	font-size: .32rem;
	margin-right: .533333rem;
}
.hot .more a{
	color: #9a9b9c;
}
.hot .more .more1{
	position:absolute;
	right: auto;
	top: 0px;
	width: 1rem;
	height: 1rem;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
li{
	list-style: none;
}
.hot .more .more1 li{
	width: .093333rem;
	height: .093333rem;
	background-color: #fff;
	border-radius: 50%;
}
/* 热门 hot end */
/* 内容 start */
.content ul li{
	border: 1px solid #e5e5e4;
	height: 3.4rem;
	background-color: #fff;
	margin: 0 .306667rem;
	
}
.content ul .martop1{
	margin-top: .4rem;
}
.content ul .martop2{
	margin-top: .4rem;
}
.content ul li .data{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.026667rem;
}
.content ul li .data h4{
	font-size: .373333rem;
	color: #0b0b0b;
	margin: .333333rem .333333rem;
}
.content ul li .data .v{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content ul li .data .v span{
	font-size: .333333rem;
	color: #fff;
	background-color: #ffab37;
	width: 1.133333rem;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	margin-right: .106667rem;
}
.content ul li .data .v em{
	font-size: .333333rem;
	color: #fff;
	width: .44rem;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
	background: #ff7404;
	margin-right: .293333rem;
}
.content ul li .date{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content ul li .date .date1 em{
	 font-size: .506667rem;
	 color: #fb4034;	
}
.content ul li .date .date1 span{
	font-size: .32rem;
	color: #ff7900;
}
.content ul li .date .date2 em{
	font-size: .333333rem;
	color: #3d3c3c;
}
.content ul li .date .date2 p{
	 font-size: .4rem;
	 color: #9a9b9c;
}
.content ul li .date1{
	margin-left: .573333rem;
}
.content ul li .date3{
	width: 1.813333rem;
	height: 1.813333rem;
	margin-right: .533333rem;
	margin-top: .373333rem;
}
.content ul li .date3 img{
	width: 100%;
	height: 100%;
}
/* 内容 end  */
/* 企业动态 start */
.dong{
	height: 1.32rem;
	display: flex;
	align-items: center;
	margin-bottom: -0.48rem;
}
.dong .dong1{
	font-size: .4rem;
	color: #383737;
	margin-left: .213333rem;
}
.dong img{
	width: .586667rem;
	height: .506667rem;
	margin-left: .306667rem;
}
/* 企业动态 end  */
/* 广告 start  */
.ad ul{
	margin-top: .466667rem;
	margin-left: .306667rem;
	background-color: #fff;
}
.ad ul li{
	display: flex;
	align-items: center;
	margin-bottom: .466667rem;
}
.ad ul a img{
	width: 1.466667rem;
	height: 1.466667rem;
	border-radius: .133333rem;
}
.ad ul li .ad2{
   line-height: .666667rem;
   margin-left: .266667rem;
}
.ad ul li .ad2 h4{
	font-size: .386667rem;
	color: #333232;
}
.ad ul li .ad2 p{
	font-size: .333333rem;
	color: #9a9b9c;
}
.ad ul li span{
	position: absolute;
	right: .32rem;
	font-size: .293333rem;
	color: #9a9b9c;
}
/* 广告 end */
/* 底部 foot start */
footer{
	height: 2.2rem;
	padding-top: .6rem;
	background-color: #fff;
}
footer .foot{
	text-align: center;
}
footer .foot h4{
	font-size: .373333rem;
	color: #494848;
	margin-bottom: .32rem;
}
footer .foot p{
	font-size: .346667rem;
	color: #9a9b9c;
}
/* 底部 foot end */