/* 头部 start */
body {
	background-color: #fff;
}
li {
	list-style: none;
}
header {
	font-family: 'icomoon';
	position: relative;
	height: 1.226667rem;
	background-color: #fa3432;
}
header p {
	text-align: center;
	line-height: 1.226667rem;
	font-size: .373333rem;
	color: #fff;
}
header span a{
	position: absolute;
    color: #fff;
	font-size: .666667rem;
	top: .306667rem;
	left: .426667rem;
}
header em {
	position: absolute;
	top: .306667rem;
	right: .48rem;
	font-size: .666667rem;
	color: #fff;
}
/* 头部 end */
.invest img {
	width: 100%;
}
/* 内容 content start */
.content ul li {
	height: 4.133333rem;
	background-color: #fff;
	border-bottom:.04rem solid #f6f6f6;
	padding : .6rem .44rem 0 .6rem;
}
.content ul li:last-child {
	border-bottom: .48rem solid #e4e8ed;
}
.content ul li .content_top {                          ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .2rem;
}
.content ul li .content_top h4 {
	font-size: .533333rem;
	color: #222222;
}
.content ul li .content_top .content_top_left {
	display: flex;
	align-items: center;
}
.content ul li .content_top span {
	display: inline-block;
	width: 1.6rem;
	height: .6rem;
	border-radius: .04rem;
	background-color: #ffab37;
	text-align: center;
	line-height: .6rem;
	font-size: .373333rem;
	color: #fff;
}
.content ul li .content_top em {
	display: inline-block;
	width: .6rem;
	height: .6rem;
	border-radius: .04rem;
	background-color: #ff7404;
	text-align: center;
	line-height: .6rem;
	font-size: .373333rem;
	color: #fff;
	margin-left: .106667rem;
}
.content ul li .content_bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content ul li .content_bottom h4 {
	font-size: .56rem;
	color: #fb4438;
}
.content ul li .content_bottom h4 em {
	font-size: .533333rem;
	color: #ff5f57;
}
.content ul li .content_bottom p {
	font-size: .506667rem;
	color: #999999;
	margin-top: .266667rem;
}
.content ul li .content_bottom h6 {
	font-size: .426667rem;
}
.content ul li .content_bottom h6 em {
	color: #999999;
}
.content .content_bottom img {
	width: 1.8rem;
	height: 1.8rem;
}
/* 内容 content end */
/* 底部 foot start */
footer{
	height: 2.24rem;
	padding-top: .6rem;
	background-color: #fff;
	margin-top: .32rem;
}
footer .foot{
	text-align: center;
}
footer .foot h4{
	font-size: .32rem;
	color: #494848;
	margin-bottom: .32rem;
}
footer .foot p{
	font-size: .32rem;
	color: #9a9b9c;
	margin-bottom: .613333rem;
}
/* 底部 foot end */